.container[data-v-7b34613e]{width:100%;min-height:320px;padding:20px;background:color-mix(in srgb,var(--n-color-neutral-w),transparent 20%);backdrop-filter:blur(10px);border-radius:var(--n-radius-triple)}
